<!DOCTYPE html>
<html lang="en">

<head>
    <!-- to include use <%- %> -->
    <%- include("partials/header") %>
</head>

<body>
    <!-- from the server -->
    <h1>
        <%= description %>
    </h1>

    <%- include("partials/footer") %>
</body>

</html>